body {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

.navibar {
    background-color: #0f1111;
    height: 60px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}    

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 2px solid #cccccc;
    border-radius: 5px;
}

/* First box (Logo) */
.logo {
    display: flex;
    height: 45px;
    align-items: center;
}
.logo img {
    height: 45px;
    width: 100px;
    padding: 10px 5px 5px 0;
}

/* Second box */
.map {
    color: white;
    display: flex;
    padding-left: 9px;
    padding-right: 9px;
    height: 45px;
    align-items: center;
}

#Deliver {
    margin: 0 0 0 0;
    color: #cccccc;
    font-size: 12px;
    font-style: sans-serif;
}
#India {
    margin: 0 0 0 0;
}
.icon {
    padding-top: 15px;
}

/* Third box (Search) */
.searchbar {
    display: flex;
}
.searchbar select {
    font-size: 14px;
    height: 42px;
    width: 45px;
    color: #5f6161;
    font-style: arial;
    background-color: #e6e6e6;
    border: none;
    margin: 0 0 0 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

#empty {
    height: 42px;
    width: 5px;
    border: none;
    background-color: #e6e6e6;
}

.searchbar input {
    font-size: 14px;
    height: 40px;
    width: 1000px;
    background: #ffffff;
    border: none;
    margin: 0 0 0 0;
    padding-left: 10px;
}
.searchbar button {
    font-size: 18px;
    height: 42px;
    width: 45px;
    background-color: #ffcd45;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Fourth box (Language) */
.language {
    display: flex;
    padding-top: 12px;
    height: 35px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.language img {
    height: 16.2px;
    width: 21.6px;
    margin: 2px 2px 2px 2px;
}

.language select {
    font-size: 14px;
    color: #ffffff;
    font-style: times new roman;
    background-color: #0f1111;
    font-weight: 700;
    border: none;
}

/* Fifth box (Sign in) */
.signin {
    display: flex;
    flex-direction: column;
    height: 45px;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.signin p {
    font-size: 12px;
    color: #cccccc;
    font-style: times new roman;
    font-weight: 600;
    margin: 0 0 0 0;
    padding-left: 5px;
}

.signin select {
    font-size: 14px;
    color: #ffffff;
    font-style: arial;
    background-color: #0f1111;
    font-weight: 700;
    border: none;
}

/* Sixth box (Returns & Orders) */
.Orders {
    display: flex;
    flex-direction: column;
    height: 45px;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

#return {
    font-size: 12px;
    color: #cccccc;
    font-style: times new roman;
    font-weight: 600;
    margin: 0 0 0 0;
    padding-left: 1px;
}
    

#orders {
    font-size: 14px;
    color: #ffffff;
    font-style: arial;
    font-weight: 700;
    border: none;
    margin: 0 0 0 0 ;
}

/* Seventh box (Cart) */
.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
}

.cart i {
    color: white;
    font-size: 24px;
}

.cart p {
    font-size: 14px;
    color: #ffffff;
    font-style: arial;
    font-weight: 700;
    border: none;
    margin: 0 0 0 0 ;
    padding-top: 12px;
}
    
/* Menu bar */

.border1 {
    border: 1px solid transparent;
}

.border1:hover {
    border: 1px solid #cccccc;
    border-radius: 5px;
}


.menu {
    background-color: #232f3e;
    height: 40px;
    display: flex;
    align-items: center;
}
.menu button {
    font-size: 14px;
    color: #ffffff;
    font-style: arial;
    background-color: #232f3e;
    font-weight: 700;
    border: none;
    margin: 0 0 0 15px;
    height: 35px;
}

.box1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}
.box1 i {
    color: white;
    font-size: 18px;
    margin-right: 3px;
}

/* Main body */


main {
    background-color: rgb(14, 9, 34)
}

/* background image */
.bgimage {
    background-image: url(background.jpg);
    background-size: 100% 100% ;
    height: 400px;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: centre;
    align-items: end;

}

/* amazon.in */
.amazonin {
    height: 40px;
    width: 100%;
    background-color: #f5f6f6;
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.amazonin p {
    font-size: 14px;
    color: #0f1111;
    font-style: sans-serif;
    font-weight: 300;
}

.amazonin a {
    color: #2162a1;
    text-decoration: none;
}

/* box ad */
.ad {
    background-color: rgb(250, 247, 247);
    height: 350px;
    width: 420px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.ad h2 {
    margin-left: 18px;
}

.ad p {
    margin-left: 18px;
}

.advertisement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    padding-bottom: 50px;
}

/* individual boxes */
.boximg {
    background-size: 100% 100%;
    height: 350px;
    width: 390px;
    margin-left: 15px;
}

/* footer */
/* back to top */
footer{
    margin: 0px;
}
.back {
    background-color: #37475A;
    height: 49px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back a {
    margin: 0 0 0 0;
    font-size: 13px;
    padding: 15px 0 15px 0;
    color: #f5f6f6;
    font-weight: 500;
    text-decoration: none;
}

/* content */

.content {
    background-color: #232f3E;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
}
.heading {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 14px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
}
.row p {
    font-size: 14px;
    color: #dddddd;
    margin-top: 1px;
    padding-left: 10px;
}

/* content 2 */
.content2 {
    background-color: #232f3E;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.amazonlogo {
    margin: 0 0 0 0;
    padding-top: 15px;
}
.amazonlogo img {
    height: 27px;
    width: 76px;
}

/* last */
.last {
    background-color: #131A22;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.last2 a {
    margin-left: 5px;
    margin-right: 5px;
}

.last1 p {
    margin: 2px 0 0 0;
}
.last1 i {
    font-size: 12px;
    color: #dddddd;
    height: 12px;
    width: 12px;
}